body {
  font-family: sans-serif;
}

.star{
  background-color: white;
  height: 30px;
  width: 30px;
  display: inline-block;
  border: 2px solid black;
  margin:5px;
}
.starSelected{
  background-color: yellow;
}


/* .star:hover{
  background-color: yellow;
} */
